/* For the whole site */
html{
    background-color: #004466;
    color: white;
    font-family: arial;
    height: 100%;
    width: 1895px;
}
p{
	font-size: 25px;
}
p1{
	font-size: 20px;
}
p2{
	font-size: 18px;
	color: grey;
}
p3{
	font-size: 18px;
	color: green;
}
p4{
	font-size: 18px;
	color: blue;
}
p5{
	font-size: 18px;
	color: purple;
}
p6{
	font-size: 18px;
	color: gold;
}
p7{
	font-size: 11px;
}
/* Display */
body{
	height: 100%;
	width: 1895px;
	cursor: default;
}
body:after{
	background-image:url("images/tft_background.png");
	content: "";
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	position: absolute;
	background-attachment: fixed;
	background-repeat: round;  
	background-position:center;
	background-size:100%;
}
/* Formatting the navigation links */
/*body nav{
	position: fixed;
	z-index: 5;
    top: 0px;
    left: 0px;
}

body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 80px;
  width: 1902px;
}

body nav ul li{
    float: left;
}

body nav ul li a{
	display: inline-block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}*/
.navbar {
  overflow: hidden;
  background-color: #696464;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 6;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
/* Displaying the champions */
body dl{
	height: 100%;
	width: 1600px;
	position: relative;
	top: 75px;
	left: 75px;
}
body dl dd{
	border-top: 1px solid grey;
}
body dl dd img{
	height: 25px;
	width: 25px;
	position: relative;
	top: 5px;
	left: 5px;
}
body img{
	height: 40px;
	width: 40px;
}
/* Hovering over unit */
.tooltip a{
	position: relative;
	display: inline-block;
	padding: 2px;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 200px;
	bottom: 100%;
	background-color: black;
	color: #fff;

	/*text-align: center;*/
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 200;
}
.tooltip a:hover .tooltiptext{
	visibility: visible;
}
/* Champion positioning */
.row{	/* 1 star */
	position: absolute;
	top: 119px;
	left: 320px;
	height: 100px;
	width: 1200px;
}
.row1{	/* 2 star */
	position: absolute;
	top: 167px;
	left: 320px;
	height: 100px;
	width: 1200px;
}
.row2{	/* 3 star */
	position: absolute;
	top: 215px;
	left: 320px;
	height: 100px;
	width: 1200px;
}
.row3{	/* 4 star */
	position: absolute;
	top: 263px;
	left: 320px;
	height: 100px;
	width: 1200px;
}
.row4{	/* 5 star */
	position: absolute;
	top: 311px;
	left: 320px;
	height: 100px;
	width: 1200px;
}
/* Creating columns for displaying comps */
.column{
	float: left;
	width: 32%;
	padding: 10px;
	height: 600px;
}
.clear:after{
	content: "";
	display: table;
	clear: both;
}
/* ------------  Items  ------------ */
.items{
	position: absolute;
	top: 119px;
	left: 150px;
	height: 50px;
	width: 1200px;
}
.items1{/*not in use*/
	position: absolute;
	top: 192px;
	left: 150px;
	height: 100px;
	width: 1200px;
}
.column-item{
	float: left;
	width: 23.7%;
	padding: 10px;
	height: 570px;

}